<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas: v-bind</title>
</head>
<body>
    <div id="app">

        <h3 v-bind:style="{fontSize: textSize + 'px'} ">Hcode Treinamento</h3>
        <input type="text" placeholder="Digite o tamanho do texto" 
        v-model="textSize">
        <h4 v-bind:style="{color:textColor}">Que a força esteja com você!</h4>
        <input type="color" placeholder="Informa qual é a nova cor" v-model="textColor">
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                textSize: 10,
                textColor: "blue",
                
            },
            
        })
    </script>
</body>
</html>