<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animações Css</title>
</head>
<style>
    

</style>

<body>
    <div id="app">
        <transition name="animation-first">
            <h2 v-if="show">Hcode Treinamentos</h2>
        </transition>

        <hr>
        <transition name="animation-second">
            <div v-if="show2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus, veniam, perferendis velit id suscipit nisi 
            sapiente provident ab iusto, rerum laboriosam debitis blanditiis consectetur vel incidunt possimus quam repellendus.</div>
        </transition>
        <button @click="show2 = !show2">Clique aqui!!</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script>
      let app = new Vue({
          el: '#app',
          data: {
            show: true,
            show2: false
          }
      })
    </script>
</body>
</html>