<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animações Css</title>
</head>
<style>
  .animation-first-enter-active{
    animation: animation_first 0.1s;
  }
  .animation-first-leave-active{
    animation: animation_first 0.1s reverse;
  }
  @keyframes animation_first {
    from {
      background: #fff;
    }
    to {
      background: #999;
    }
  }
</style>
<body>
  <div id="app">
      <transition name="animation-first">
        <h2 v-if="show">Hcode Treinamentos animações</h2>
      </transition>

      <hr>
      <transition name="animation-second">
        <div v-if="show2">Vue.js é demais!!!</div>
      </transition>
      <button @click="show2 = !show2">Clique aqui!!</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        show: true,
        show2: false
      }
    })
  </script>
</body>
</html>
